body {
  text-align: center;
  background-color: #302050;
}

h1 {
  color: white;
}

h2 {
  color: white;
  font-weight: lighter;
}

img {
  width: 600px;
  height: 400px;
  padding: 20px;
  padding-top: 0px;
}
